body {
    height: 100%;
    width: 70%;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    align-items: center;
    background-color: #9d9e9e;
    /* overflow-x: hidden; */
    padding-top: 20px;
}

table,
tr,
td {
    padding: 15px;
}