/* .footer {
    display: flex;
    flex-direction: column; */
/* position: relative; */
/* min-height: 100vh; */
/* position: absolute; */
/* margin-top: 100%; */
/* right: 0; */
/* bottom: 0;
    width: 100%;
    background-color: #00A568;
    z-index: 1;
} */

.footer {
    margin-top: 100%;
    background-color: #00A568;
    height: 80px;
    position: relative;
}

.footer-content {
    max-width: 100%;
    padding-top: 25px;
    margin: 40px;
    margin-left: 90px;
    /* flex: 1; */
}

.footer-content img {
    padding: 1px 5px;
}

.footer-content>div> :first-child:not(img) {
    color: white;
}

.copyright {
    position: absolute;
    top: 30px;
    left: 600px;
    color: white;
    /* float: right; */
}

.terms {
    position: absolute;
    top: 30px;
    right: 100px;
    color: white;
    /* float: left;
    margin-left: 100px; */
}

#footer-email {
    color: white;
    display: inline-flex;
    margin-top: 0px;
}